# EDA on Advertising Data

## Look at the structure of the data

In [2]:
!head -n  5 ../data/train.txt

0	1	1	5	0	1382	4	15	2	181	1	2		2	68fd1e64	80e26c9b	fb936136	7b4723c4	25c83c98	7e0ccccf	de7995b8	1f89b562	a73ee510	a8cd5504	b2cb9c98	37c9c164	2824a5f6	1adce6ef	8ba8b39a	891b62e7	e5ba7672	f54016b9	21ddcdc9	b1252a9d	07b5194c		3a171ecb	c5c50484	e8b83407	9727dd16
0	2	0	44	1	102	8	2	2	4	1	1		4	68fd1e64	f0cf0024	6f67f7e5	41274cd7	25c83c98	fe6b92e5	922afcc0	0b153874	a73ee510	2b53e5fb	4f1b46f3	623049e6	d7020589	b28479f6	e6c5b5cd	c92f3b61	07c540c4	b04e4670	21ddcdc9	5840adea	60f6221e		3a171ecb	43f13e8b	e8b83407	731c3655
0	2	0	1	14	767	89	4	2	245	1	3	3	45	287e684f	0a519c5c	02cf9876	c18be181	25c83c98	7e0ccccf	c78204a1	0b153874	a73ee510	3b08e48b	5f5e6091	8fe001f4	aa655a2f	07d13a8f	6dc710ed	36103458	8efede7f	3412118d			e587c466	ad3062eb	3a171ecb	3b183c5c
0		893			4392		0	0	0		0			68fd1e64	2c16a946	a9a87e68	2e17d6f6	25c83c98	fe6b92e5	2e8a689b	0b153874	a73ee510	efea433b	e51ddf94	a30567ca	3516f6e6	07d13a8f	18231224	52b8680f	1e88c74f	74ef3502			6b3a5ca6		3a171ecb	9117a34a
0	3	-1		0	2	0	3	0	0	1	1		0	8cf07265	ae46a29d	c81688bb	f922efad	25c83c98	13718bbd	ad9fa255	0b153874	a73ee510	5282c137	e5d8af57	66a76a26	f06c53ac	1adce6ef	8ff4b403	01adbab4	1e88c74f	26b3c7a7			21c9516a		32c7478e	b34f3128

In [3]:
!tail -n  5 ../data/train.txt

0		-1			34722	38	1	0	41		1	0		05db9164	287130e0	72d7cc2f	09fbb2e3	4cf72387	fe6b92e5	0b73ac09	0b153874	7cc72ec2	befd4fae	1d351a39	0705f759	90a568bc	1adce6ef	310d155b	f786d643	3486227d	891589e7	1d1eb838	a458ea53	840e0f0f	78e2e389	bcdee96c	d16bdc4c	e8b83407	095e16c8
0	0	21	5	3	6190	29	10	6	45	0	5		3	2d4ea12b	e5fb1af3	aa8c1539	85dd697c	25c83c98	fe6b92e5	af84702c	0b153874	a73ee510	fbbf2c95	7c430b79	d8c29807	7f0d7407	8ceecbc8	0f04b39f	c64d548f	e5ba7672	13145934	cf99e5de	5840adea	5f957280		3a171ecb	1793a828	e8b83407	b7d9c3bc
0	0	1	32	6	1278	21	11	19	25	0	4		19	05db9164	09e68b86	d1c988f2	dad66aab	25c83c98		b87f4a4a	062b5529	a73ee510	e70742b0	319687c9	17328c2b	62036f49	07d13a8f	36721ddc	32bf6bff	e5ba7672	5aed7436	83552c76	a458ea53	4c970120		32c7478e	1793a828	e8b83407	0d904595
0		0	1		2917	302	28	9	137		2			05db9164	0468d672	3a0a4e68	867d05be	25c83c98		6cdb3998	0b153874	a73ee510	01a07fd7	5874c9c9	fc7a1a03	740c210d	07d13a8f	a888f201	668f77c8	e5ba7672	9880032b	21ddcdc9	5840adea	c192ff0f		32c7478e	a9a2ac1a	9b3e8820	409c7293
0	0	4	13	13	2815	20	4	21	41	0	4		14	05db9164	a0e12995	622d2ce8	51c64c6d	25c83c98		3086a9e9	0b153874	a73ee510	3b08e48b	ebd30041	e9521d94	c7a109eb	1adce6ef	78c64a1d	ab8b968d	d4bb7bd8	1616f155	21ddcdc9	5840adea	ee4fa92e		32c7478e	d61a7d0a	9b3e8820	b29c74dc

In [4]:
# view the number of unique numbers for the first field
!cut -f 1 ../data/train.txt | sort| uniq | head -n 30

0
1

In [5]:
# how many fields does the dataset have
!head -n 1 ../data/train.txt | wc -w

38

In [6]:
# unique fields for the second column
!cut -f 2 ../data/train.txt | sort| uniq | head -n 30

0
1
10
100
1003
101
1011
1013
102
103
104
1041
105
106
107
108
1086
109
11
110
1103
111
112
113
114
1140
115
1152
1159

In [7]:
!head -n  5 ../data/test.txt

	29	50	5	7260	437	1	4	14		1	0	6	5a9ed9b0	a0e12995	a1e14474	08a40877	25c83c98		964d1fdd	5b392875	a73ee510	de89c3d2	59cd5ae7	8d98db20	8b216f7b	1adce6ef	78c64a1d	3ecdadf7	3486227d	1616f155	21ddcdc9	5840adea	2c277e62		423fab69	54c91918	9b3e8820	e75c9ae9
27	17	45	28	2	28	27	29	28	1	1		23	68fd1e64	960c983b	9fbfbfd5	38c11726	25c83c98	7e0ccccf	fe06fd10	062b5529	a73ee510	ca53fc84	67360210	895d8bbb	4f8e2224	f862f261	b4cc2435	4c0041e5	e5ba7672	b4abdd09	21ddcdc9	5840adea	36a7ab86		32c7478e	85e4d73f	010f6491	ee63dd9b
1	1	19	7	1	3	1	7	7	1	1		2	09ca0b81	8947f767	a87e61f7	c4ba2a67	25c83c98	7e0ccccf	ce6020cc	062b5529	a73ee510	b04d3cfe	70dcd184	899eb56b	aca22cf9	b28479f6	a473257f	88f592e4	d4bb7bd8	bd17c3da	1d04f4a4	a458ea53	82bdc0bb		32c7478e	5bdcd9c4	010f6491	cca57dcc
4	1		6	1051	134	4	35	72	1	1		6	05db9164	532da141	a7ded28e	456b4d8c	25c83c98	fbad5c96	5f29da0e	0b153874	a73ee510	4b344a42	0ad37b4b	8ea37200	f9d99d81	cfef1c29	abd8f51e	9a9902d0	07c540c4	bdc06043			6dfd157c	ad3062eb	423fab69	ef089725
7	1	25	10	139	74	48	13	44	1	8	2	12	05db9164	207b2d81	2b280564	ad5ffc6b	25c83c98	7e0ccccf	103c17bc	0b153874	a73ee510	8e54038a	e6e0c2dc	2a064dba	e9332a03	07d13a8f	0c67c4ca	7d9b60c8	27c07bd6	395856b0	21ddcdc9	a458ea53	9c3eb598	ad3062eb	3a171ecb	c0b8dfd6	001f3601	7a2fb9af

In [8]:
!cut -f 1 ../data/train.txt | grep 0 | wc -l

34095179

In [9]:
!cut -f 1 ../data/train.txt | grep 1 | wc -l

11745438

## Spark

In [1]:
from pyspark import SparkContext, SQLContext
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField , IntegerType, StringType

from pyspark.sql.functions import isnan, when, count, col

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
schema = StructType()

for f in range(0, 39 + 1):
    if   f == 0 : schema.add(StructField(f'ctr',        IntegerType(), True))
    elif f < 14 : schema.add(StructField(f'i{f   :02}', IntegerType(), True))
    else        : schema.add(StructField(f's{f-13:02}',  StringType(), True))

In [5]:
criteo = spark.read.csv("../data/train.txt", header=True, sep="\t", schema=schema)

In [6]:
criteo.show()

+---+----+---+----+----+-----+----+---+---+----+----+---+----+----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|ctr| i01|i02| i03| i04|  i05| i06|i07|i08| i09| i10|i11| i12| i13|     s01|     s02|     s03|     s04|     s05|     s06|     s07|     s08|     s09|     s10|     s11|     s12|     s13|     s14|     s15|     s16|     s17|     s18|     s19|     s20|     s21|     s22|     s23|     s24|     s25|     s26|
+---+----+---+----+----+-----+----+---+---+----+----+---+----+----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|  0|   2|  0|  44|   1|  102|   8|  2|  2|   4|   1|  1|null|   4|68fd1e64|f0cf0024|6f67f7e5|41274cd7|25c83c98|fe6b92e5|922afcc0|0b153874|a73ee510|2b53e5fb|4f1b46f3|623049e6|d7020589|b28479f6|e6c5b5cd|c92f3b61|07c540c4|b04e4670|21ddcdc9|5840adea|60f6221e|    null|3a171ecb|43f13e8b|e8b83407|731c3655|
|  0|   2|  0|   1|  14|  767|  89|  4|  2| 245|   1|  3|   3|  45|287e684f|0a519c5c|02cf9876|c18be181|25c83c98|7e0ccccf|c78204a1|0b153874|a73ee510|3b08e48b|5f5e6091|8fe001f4|aa655a2f|07d13a8f|6dc710ed|36103458|8efede7f|3412118d|    null|    null|e587c466|ad3062eb|3a171ecb|3b183c5c|    null|    null|
|  0|null|893|null|null| 4392|null|  0|  0|   0|null|  0|null|null|68fd1e64|2c16a946|a9a87e68|2e17d6f6|25c83c98|fe6b92e5|2e8a689b|0b153874|a73ee510|efea433b|e51ddf94|a30567ca|3516f6e6|07d13a8f|18231224|52b8680f|1e88c74f|74ef3502|    null|    null|6b3a5ca6|    null|3a171ecb|9117a34a|    null|    null|
|  0|   3| -1|null|   0|    2|   0|  3|  0|   0|   1|  1|null|   0|8cf07265|ae46a29d|c81688bb|f922efad|25c83c98|13718bbd|ad9fa255|0b153874|a73ee510|5282c137|e5d8af57|66a76a26|f06c53ac|1adce6ef|8ff4b403|01adbab4|1e88c74f|26b3c7a7|    null|    null|21c9516a|    null|32c7478e|b34f3128|    null|    null|
|  0|null| -1|null|null|12824|null|  0|  0|   6|null|  0|null|null|05db9164|6c9c9cf3|2730ec9c|5400db8b|43b19349|6f6d9be8|53b5f978|0b153874|a73ee510|3b08e48b|91e8fc27|be45b877|9ff13f22|07d13a8f|06969a20|9bc7fff5|776ce399|92555263|    null|    null|242bb710|8ec974f4|be7c41b4|72c78f11|    null|    null|
|  0|null|  1|   2|null| 3168|null|  0|  1|   2|null|  0|null|null|439a44a4|ad4527a2|c02372d0|d34ebbaa|43b19349|fe6b92e5|4bc6ffea|0b153874|a73ee510|3b08e48b|a4609aab|14d63538|772a00d7|07d13a8f|f9d1382e|b00d3dc9|776ce399|cdfa8259|    null|    null|20062612|    null|93bad2c0|1b256e61|    null|    null|
|  1|   1|  4|   2|   0|    0|   0|  1|  0|   0|   1|  1|null|   0|68fd1e64|2c16a946|503b9dbc|e4dbea90|f3474129|13718bbd|38eb9cf4|1f89b562|a73ee510|547c0ffe|bc8c9f21|60ab2f07|46f42a63|07d13a8f|18231224|e6b6bdc7|e5ba7672|74ef3502|    null|    null|5316a17f|    null|32c7478e|9117a34a|    null|    null|
|  0|null| 44|   4|   8|19010| 249| 28| 31| 141|null|  1|null|   8|05db9164|d833535f|d032c263|c18be181|25c83c98|7e0ccccf|d5b6acf2|0b153874|a73ee510|2acdcf4e|086ac2d2|dfbb09fb|41a6ae00|b28479f6|e2502ec9|84898b2a|e5ba7672|42a2edb9|    null|    null|0014c32a|    null|32c7478e|3b183c5c|    null|    null|
|  0|null| 35|null|   1|33737|  21|  1|  2|   3|null|  1|null|   1|05db9164|510b40a5|d03e7c24|eb1fd928|25c83c98|    null|52283d1c|0b153874|a73ee510|015ac893|e51ddf94|951fe4a9|3516f6e6|07d13a8f|2ae4121c|8ec71479|d4bb7bd8|70d0f5f9|    null|    null|0e63fca0|    null|32c7478e|0e8fe315|    null|    null|
|  0|null|  2| 632|   0|56770|null|  0|  5|  65|null|  0|null|   2|05db9164|0468d672|7ae80d0f|80d8555a|25c83c98|7e0ccccf|04277bf9|0b153874|7cc72ec2|3b08e48b|7e2c5c15|cfc86806|91a1b611|b28479f6|58251aab|146a70fd|776ce399|0b331314|21ddcdc9|5840adea|cbec39db|    null|3a171ecb|cedad179|ea9a246c|9a556cfc|
|  0|   0|  6|   6|   6|  421| 109|  1|  7| 107|   0|  1|null|   6|05db9164|9b5fd12f|    null|    null|4cf72387|    null|111121f4|0b153874|a73ee510|3b08e48b|ac9c2e8f|    null|6e2d6a15|07d13a8f|796a1a2e|    null|d4bb7bd8|8aaa5b67|    null|    null|    null|    null|32c7478e|    null|    null|    null|
|  1|   0| -1|null|null| 1465|   0| 17|  0|   4|   0|  4|null|null|241546e0|38a947a1|fa673455|6a14f9b9|25c83c98|fe6b92e5|1c86e0eb|1f89b562|a73ee510|e7ba2569|755e4a50|208d9687|5978055e|07d13a8f|5182f694|f8b34416|e5ba7672|e5f8f18f|    null|    null|f3ddd519|    null|32c7478e|b34f3128|    null|    null|
|  1|null|  2|  11|   5|10262|  34|  2|  4|   5|null|  1|null|   5|be589b51|287130e0|cd7a7a22|fb7334df|25c83c98|    null|6cdb3998|361384ce|a73ee510|3ff10fb2|5874c9c9|976cbd4c|740c210d|1adce6ef|310d155b|07eb8110|07c540c4|891589e7|18259a83|a458ea53|a0ab60ca|    null|32c7478e|a052b1ed|9b3e8820|8967c0d2|
|  0|   0| 51|  84|   4| 3633|  26|  1|  4|   8|   0|  1|null|   4|5a9ed9b0|80e26c9b|97144401|5dbf0cc5|0942e0a7|13718bbd|9ce6136d|0b153874|a73ee510|2106e595|b5bb9d63|04f55317|ab04d8fe|1adce6ef|0ad47a49|2bd32e5c|3486227d|12195b22|21ddcdc9|b1252a9d|fa131867|    null|dbb486d7|8ecc176a|e8b83407|c43c3f58|
|  0|null|  2|   1|  18|20255|null|  0|  1|1306|null|  0|null|  20|05db9164|bc6e3dc1|67799c69|d00d0f35|4cf72387|7e0ccccf|ca4fd8f8|64523cfa|a73ee510|3b08e48b|a0060bca|b9f28c33|22d23aac|5aebfb83|d702713a|0f655650|776ce399|3a2028fd|    null|    null|b426bc93|    null|3a171ecb|2e0a0035|    null|    null|
|  1|   1|987|null|   2|  105|   2|  1|  2|   2|   1|  1|null|   2|68fd1e64|38d50e09|da603082|431a5096|43b19349|7e0ccccf|3f35b640|0b153874|a73ee510|3b08e48b|3d5fb018|6aaab577|94172618|07d13a8f|ee569ce2|2f03ef40|d4bb7bd8|582152eb|21ddcdc9|b1252a9d|3b203ca1|    null|32c7478e|b21dc903|001f3601|aa5f0a15|
|  0|   0|  1|null|   0|16597| 557|  3|  5| 123|   0|  1|null|   1|8cf07265|7cd19acc|77f2f2e5|d16679b9|4cf72387|fbad5c96|8fb24933|0b153874|a73ee510|0095a535|3617b5f5|9f32b866|428332cf|b28479f6|83ebd498|31ca40b6|e5ba7672|d0e5eb07|    null|    null|dfcfc3fa|ad3062eb|32c7478e|aee52b6f|    null|    null|
|  0|   0| 24|   4|   2| 2056|  12|  6| 10|  83|   0|  1|null|   2|05db9164|f0cf0024|08b45d8b|cbb5af1b|384874ce|fbad5c96|81bb0302|37e4aa92|a73ee510|175d6c71|b7094596|1c547463|1f9d2c38|1adce6ef|55dc357b|0ca69655|e5ba7672|b04e4670|21ddcdc9|b1252a9d|f3caefdd|    null|32c7478e|4c8e5aef|ea9a246c|9593bba9|
|  0|   7|102|null|   3|  780|  15|  7| 15|  15|   1|  1|null|   3|3c9d8785|b0660259|3a960356|15c92ddb|4cf72387|13718bbd|00c46cd1|0b153874|a73ee510|62cfc6bd|8cffe207|656e5413|ff5626de|ad1cc976|27b1230c|fa8d05aa|e5ba7672|5edd90de|    null|    null|e12ce348|    null|c3dc6cef|49045073|    null|    null|
|  1|null| 47|null|   0| 6399|  38| 19| 10| 143|null| 10|null|   6|1464facd|38a947a1|223b0e16|ca55061c|25c83c98|7e0ccccf|6933dec1|5b392875|a73ee510|3b08e48b|860c302b|156f99ef|30735474|1adce6ef|0e78291e|5fbf4a84|e5ba7672|1999bae9|    null|    null|deb9605d|    null|32c7478e|e448275f|    null|    null|
+---+----+---+----+----+-----+----+---+---+----+----+---+----+----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 20 rows

In [7]:
for column in criteo.columns:
    criteo.describe(column).show()

+-------+-------------------+
|summary|                ctr|
+-------+-------------------+
|  count|           45840616|
|   mean|0.25622338931920113|
| stddev| 0.4365466392520697|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

+-------+------------------+
|summary|               i01|
+-------+------------------+
|  count|          25047060|
|   mean|3.5024134169838694|
| stddev| 9.429076582074764|
|    min|                 0|
|    max|              5775|
+-------+------------------+

+-------+------------------+
|summary|               i02|
+-------+------------------+
|  count|          45840616|
|   mean|105.84842208490392|
| stddev| 391.4578266505335|
|    min|                -3|
|    max|            257675|
+-------+------------------+

+-------+------------------+
|summary|               i03|
+-------+------------------+
|  count|          36001169|
|   mean|26.913041629287093|
| stddev| 397.9725885331938|
|    min|                 0|
|    max|             65535|
+-------+------------------+

+-------+-----------------+
|summary|              i04|
+-------+-----------------+
|  count|         35903247|
|   mean|7.322680452829238|
| stddev| 8.79323075017961|
|    min|                0|
|    max|              969|
+-------+-----------------+

+-------+-----------------+
|summary|              i05|
+-------+-----------------+
|  count|         44657499|
|   mean|18538.99204906213|
| stddev|69394.60257569488|
|    min|                0|
|    max|         23159456|
+-------+-----------------+

+-------+------------------+
|summary|               i06|
+-------+------------------+
|  count|          35588288|
|   mean|116.06185400095671|
| stddev|  382.566454284951|
|    min|                 0|
|    max|            431037|
+-------+------------------+

+-------+-----------------+
|summary|              i07|
+-------+-----------------+
|  count|         43857750|
|   mean|16.33313006253171|
| stddev|66.04975599781022|
|    min|                0|
|    max|            56311|
+-------+-----------------+

+-------+------------------+
|summary|               i08|
+-------+------------------+
|  count|          45817843|
|   mean|12.517042367097028|
| stddev| 16.68888467758354|
|    min|                 0|
|    max|              6047|
+-------+------------------+

+-------+------------------+
|summary|               i09|
+-------+------------------+
|  count|          43857750|
|   mean|106.10982173048093|
| stddev|220.28309620755311|
|    min|                 0|
|    max|             29019|
+-------+------------------+

+-------+------------------+
|summary|               i10|
+-------+------------------+
|  count|          25047060|
|   mean| 0.617529482502138|
| stddev|0.6840505647840608|
|    min|                 0|
|    max|                11|
+-------+------------------+

+-------+------------------+
|summary|               i11|
+-------+------------------+
|  count|          43857750|
|   mean|2.7328343337266503|
| stddev| 5.199070942905693|
|    min|                 0|
|    max|               231|
+-------+------------------+

+-------+------------------+
|summary|               i12|
+-------+------------------+
|  count|          10768965|
|   mean|0.9910356287721244|
| stddev| 5.597723872237179|
|    min|                 0|
|    max|              4008|
+-------+------------------+

+-------+------------------+
|summary|               i13|
+-------+------------------+
|  count|          35903247|
|   mean| 8.217461334346723|
| stddev|16.211932750739358|
|    min|                 0|
|    max|              7393|
+-------+------------------+

+-------+--------+
|summary|     s01|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|000d72dd|
|    max|ffe3cd83|
+-------+--------+

+-------+--------+
|summary|     s02|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|00ac063c|
|    max|fff6365b|
+-------+--------+

+-------+--------+
|summary|     s03|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|000002fc|
|    max|fffffffd|
+-------+--------+

+-------+--------+
|summary|     s04|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|0000114b|
|    max|fffff9c2|
+-------+--------+

+-------+--------+
|summary|     s05|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|01f8694b|
|    max|ffcbb58b|
+-------+--------+

+-------+-----------+
|summary|        s06|
+-------+-----------+
|  count|   40299991|
|   mean|5.1247667E7|
| stddev|        0.0|
|    min|   051f8ea4|
|    max|   fe6b92e5|
+-------+-----------+

+-------+--------+
|summary|     s07|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|0008893e|
|    max|fffdd9e1|
+-------+--------+

+-------+--------+
|summary|     s08|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|00154344|
|    max|fff579b7|
+-------+--------+

+-------+--------+
|summary|     s09|
+-------+--------+
|  count|45840616|
|   mean|    null|
| stddev|    null|
|    min|7cc72ec2|
|    max|a73ee510|
+-------+--------+

+-------+--------+
|summary|     s10|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|0000734a|
|    max|fffed9e1|
+-------+--------+

+-------+--------+
|summary|     s11|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|0005a406|
|    max|fffb9cd7|
+-------+--------+

+-------+--------+
|summary|     s12|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|00000705|
|    max|fffffff9|
+-------+--------+

+-------+--------+
|summary|     s13|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|00041a6d|
|    max|ffe269b6|
+-------+--------+

+-------+--------------------+
|summary|                 s14|
+-------+--------------------+
|  count|            45840616|
|   mean| 7.62958678973724E24|
| stddev|1.386142728412620...|
|    min|            051219e6|
|    max|            f862f261|
+-------+--------------------+

+-------+--------+
|summary|     s15|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|0007c407|
|    max|fffe5f26|
+-------+--------+

+-------+--------+
|summary|     s16|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|0000024d|
|    max|ffffffa9|
+-------+--------+

+-------+---------+
|summary|      s17|
+-------+---------+
|  count| 45840616|
|   mean|3486227.0|
| stddev|      0.0|
|    min| 07c540c4|
|    max| e5ba7672|
+-------+---------+

+-------+--------+
|summary|     s18|
+-------+--------+
|  count|45840616|
|   mean|Infinity|
| stddev|     NaN|
|    min|000964e4|
|    max|fffe2a63|
+-------+--------+

+-------+--------+
|summary|     s19|
+-------+--------+
|  count|25667758|
|   mean|Infinity|
| stddev|     NaN|
|    min|0022a89c|
|    max|fffaf113|
+-------+--------+

+-------+--------+
|summary|     s20|
+-------+--------+
|  count|25667758|
|   mean|    null|
| stddev|    null|
|    min|5840adea|
|    max|b1252a9d|
+-------+--------+

+-------+--------+
|summary|     s21|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|0000004a|
|    max|fffffdbe|
+-------+--------+

+-------+--------------------+
|summary|                 s22|
+-------+--------------------+
|  count|            10885544|
|   mean|1.193142857142856...|
| stddev|8.938885283025664E95|
|    min|            032641cc|
|    max|            f4dc011d|
+-------+--------------------+

+-------+-----------+
|summary|        s23|
+-------+-----------+
|  count|   45840616|
|   mean|7.2592995E7|
| stddev|        0.0|
|    min|   003cc7f4|
|    max|   dbb486d7|
+-------+-----------+

+-------+--------+
|summary|     s24|
+-------+--------+
|  count|44281143|
|   mean|Infinity|
| stddev|     NaN|
|    min|00000da1|
|    max|ffffd1b9|
+-------+--------+

+-------+--------------------+
|summary|                 s25|
+-------+--------------------+
|  count|            25667758|
|   mean| 6.24451586206896E94|
| stddev|4.747804981910348E94|
|    min|            001f3601|
|    max|            ff9cb112|
+-------+--------------------+

+-------+--------+
|summary|     s26|
+-------+--------+
|  count|25667758|
|   mean|Infinity|
| stddev|     NaN|
|    min|000009df|
|    max|ffffdf86|
+-------+--------+

In [8]:
s25_count = criteo.groupby("s25").count().sort('count', ascending=False).toPandas()

In [9]:
s25_count.head()

        s25     count
0      None  20172858
1  001f3601   6557407
2  e8b83407   4976913
3  ea9a246c   3674247
4  cb079c2d   1814255

In [10]:
(s25_count['count'] /s25_count['count'].sum()) * 100

0      44.006516
1      14.304797
2      10.856994
3       8.015265
4       3.957746
         ...
100     0.000004
101     0.000004
102     0.000004
103     0.000002
104     0.000002
Name: count, Length: 105, dtype: float64

## Examine Null Values

In [11]:
NROWS = criteo.count()

In [12]:
criteo.where(criteo["s25"].isNull()).count()

20172858

In [13]:
null_dict = {'column': [], 'count': []}

categorical_columns = [ col for col in criteo.columns if 's' in col] 

for col in categorical_columns:
    null_count = criteo.where(criteo[col].isNull()).count()
    null_dict['column'].append(col)
    null_dict['count'].append(null_count)

In [14]:
null_df = pd.DataFrame.from_dict(null_dict)

In [15]:
null_df.head(30)

   column     count
0     s01         0
1     s02         0
2     s03   1559473
3     s04   1559473
4     s05         0
5     s06   5540625
6     s07         0
7     s08         0
8     s09         0
9     s10         0
10    s11         0
11    s12   1559473
12    s13         0
13    s14         0
14    s15         0
15    s16   1559473
16    s17         0
17    s18         0
18    s19  20172858
19    s20  20172858
20    s21   1559473
21    s22  34955072
22    s23         0
23    s24   1559473
24    s25  20172858
25    s26  20172858

### Examine categorcial columns with more than 40% null values

In [16]:
null_df_pct = null_df.copy()
null_df_pct['pct'] = (null_df_pct['count']/NROWS) * 100

null_df_pct = null_df_pct.sort_values(by='pct', ascending=False)
null_df_pct.head(10)

   column     count        pct
21    s22  34955072  76.253495
25    s26  20172858  44.006516
24    s25  20172858  44.006516
19    s20  20172858  44.006516
18    s19  20172858  44.006516
5     s06   5540625  12.086716
15    s16   1559473   3.401946
2     s03   1559473   3.401946
3     s04   1559473   3.401946
23    s24   1559473   3.401946

Get the columns with more than 40% null values

In [17]:
high_null_list = null_df_pct[null_df_pct['pct'] > 40]['column'].to_list()
high_null_list

['s22', 's26', 's25', 's20', 's19']

Explore removing these columns with a high number of null values

#### Running a similar null check for numeric values

In [ ]:
inull_dict = {'column': [], 'count': []}

numeric_columns = [ col for col in criteo.columns if 'i' in col] 

for col in numeric_columns:
    inull_count = criteo.where(criteo[col].isNull()).count()
    inull_dict['column'].append(col)
    inull_dict['count'].append(inull_count)

In [ ]:
inull_df = pd.DataFrame.from_dict(inull_dict)
inull_df.head(10)

In [ ]:
inull_df_pct = inull_df.copy()
inull_df_pct['pct'] = (inull_df_pct['count']/NROWS) * 100
inull_df_pct

#### Check if same rows have nulls

In [ ]:
inull_criteo = criteo.where(criteo['i01'].isNull())

In [ ]:
inull_dict = {'column': [], 'count': []}

numeric_columns = [ 'i01', 'i10', 's25', 's26', 's20'] 

for col in numeric_columns:
    inull_count = inull_criteo.where(inull_criteo[col].isNull()).count()
    inull_dict['column'].append(col)
    inull_dict['count'].append(inull_count)

In [ ]:
inull_df = pd.DataFrame.from_dict(inull_dict)
inull_df.head(10)

#### Do the same for the categorical variables

In [ ]:
snull_criteo = criteo.where(criteo['s25'].isNull())

snull_dict = {'column': [], 'count': []}

string_columns = [ 's25', 's26', 's20', 's19', 'i01', 'i10'] 

for col in string_columns:
    snull_count = snull_criteo.where(snull_criteo[col].isNull()).count()
    snull_dict['column'].append(col)
    snull_dict['count'].append(snull_count)

In [ ]:
snull_df = pd.DataFrame.from_dict(snull_dict)
snull_df.head(10)

#### Look at the distribution of CTR across these columns

In [ ]:
# ctr of numeric null values
inull_criteo.groupby("ctr").count().toPandas()

In [ ]:
# ctr of categorical null values
snull_criteo.groupby("ctr").count().toPandas()

In [ ]:
# for all the values

In [ ]:
criteo.groupby("ctr").count().toPandas()

No discernible difference in CTR count for null values

### Distribution of high cardinality categorical features

In [ ]:
from IPython.display import display

In [ ]:
for col in categorical_columns:
    col_df = criteo.groupby(col).count().sort('count', ascending=False).toPandas()
    col_df['pct'] = (g_df['count'] / NROWS) * 100
    print(col, ':\n')
    display(col_df.head(20))